header {
  margin-left: 10%
}

.body-container {
  margin-left: 10%;
  display: flex;
  justify-content: flex-start;

}

.body-form {
  flex-direction: column;
  width: 80%;
}

input {
  width: 60%;
}

label {
  display: inline-block;
  width: 40%;
  /*border-style: solid;*/
  border: 0.50px solid grey;
  background-color: lightblue;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  height: 30px;
}
